.navbar-color{
  background-color: #F4E7E7;
}
.footer-color{
  background-color: #F8F3A1;
  position: absolute;
  bottom: 0;
  width: 100%;
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
   color: #302E2F

}
.icon{
  font-size: 30px;
}
.color-green{
  color:#DDD046
}